*.json
*.html
*rc.js
*.svg
*.woff
*.ttf
*.css
*.sh
*.md

.vscode
.idea

package.json

# Dependency directories
node_modules/

.local

.husky
/deploy
/dist
/docs
/public
/bin
/src/mock
/src/assets

Dockerfile
Jenkinsfile
